body {
    font-family: Arial, sans-serif;
    width: 1440px;
    margin: 0;
}

/* a , li , ul{
    text-decoration: none;
} */

.gallery {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 143px;
    margin: 0;

}

.gallery-item {
    margin: 0;
    padding: 12px;
    /* width: calc((100% - 47px) / 3); */

}

.gallery-link {
    display: block;

}

.gallery-image {
    display: block;
    width: 360px;
    height: auto;
    /* border-radius: 5px; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;

}

.gallery-image:hover {
    transform: scale(1.05);
}

